<div class="scrollbar-container">
  <div class="scrollbar-content">
    This is the content
  </div>
</div>
<div>
  <label><b>Questions</b></label>
  <ul>
    <li>
      <div>What does <b>scrollbar-color</b> do? <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/scrollbar-color">Reference</a></div>
      <div>Note: scrollbar-color sets the trumb and track colors, but it only works on <b>Firefox</b>. To check the behaviour on other browsers, please use -webkit- css extensions.</div>
      <div><b>scrollbar-color</b> is another Firefox only css rules.</div>
    </li>
  </ul>
</div>