
<strong>animation</strong> includes:
<ul>
  <li><b>animation-name</b></li>
  <li><b>animation-duration</b> defines how long an animation should take to complete</li>
  <li><b>animation-timing-function</b></li>
  <li><b>animation-delay</b> specifies a delay for the start of an animation</li>
  <li><b>animation-iteration-count</b> specifies the number of times an animation should run. <b>infinite</b> is a possible value</li>
  <li><b>animation-direction</b> specifies the number of times an animation should run. <b>infinite</b> is a possible value</li>
</ul>

<div class="animation-container">
  <div class="balancer"></div>
  <div class="loader"></div>
</div>

