.divider {
  height: 30%;
  margin: 20px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
}