<div class="grid-container">
  <div class="box-1">One</div>
  <div class="box-2">Two</div>
  <div class="box-3">Three</div>
  <div class="box-4">Four</div>
  <div class="box-5">Five</div>
</div>

<div class="entities-container">
  <div class="entity-label">Entities</div>
  <div class="disti-container">Disti Info</div>
  <div class="partner-container">Partner Info</div>
  <div class="customer-container">Customer Info</div>
  <div class="price-container">Price Info</div>
  <div class="date-container">Date Info</div>
</div>

<p style="margin-top: 20px;">Note: Grid is a two-dimensional grid system</p>
