.flexbox-container {
  width: 1000px;
  border: 1px solid black;
  margin: 50px auto;
  display: flex;

  & > div {
    line-height: 50px;
    color: white;
    flex: 1 1 auto;
    text-align: center;

    &:first-child {
      background-color: pink;
      flex: 1 1 50%;
    }

    &:nth-child(2) {
      background-color: lightgreen;
    }

    &:last-child {
      background-color: lightblue;
      flex: 1 1 80%;
    }
  }
}